<%- include("header") -%>
<h2>
    This Is About Page
</h2>
<p>
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vitae tempore reprehenderit ex mollitia quam, sapiente repellat, molestiae ab sed nostrum officiis aliquid tenetur doloribus qui soluta illo sint quaerat ad.
</p>

<%- include("footer") -%>